<!--/#main-slider-->

<section id="cta">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-left">
        <div class="section-header">
          <h2 class="text-center Font-bold text-9x greyDark-Text text-uppercase">
            <devfv-toolbar param="initializeToolBar" class="ng-binding ng-isolate-scope"></devfv-toolbar>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#main-slider-->
<div class="container m-50">
  <div class="custom">
    <div class="row">
      <div class="col-sm-12">
        <div class="left-heading">
          <h6 class="title-main seaGreen-Text font-w-600 m-10 text-uppercase">About Zorya Systems Pvt Ltd</h6>
          <span class="center-line"></span>
          <p class="greyDark-Text m-10"><strong class="text-3x Font-bold greyDark-Text">Zorya Systems Pvt Ltd is a newly formedstartup company that provides full range of software development and consultancy services.</strong> <br />
            <br />
            We provide business technology solutions, cloud hosting, managed services, website design, and technical support to help our clients achieve their business and IT goals. Zorya's delivery model is tailored to deliver quality software services to our valuable customers. It enables skill development in technology along with domain proficiency, with the industry best practices for software delivery. Our expertise in enterprise architecture helps our clients leverage a competitive advantage in the marketplace. Zorya's structured quality assurance process ensures on-time quality deliverable.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="divide40">&nbsp;</div>
<div class="container">
  <div class="custom">
    <div class="row">
      <div class="col-sm-12">
        <div class="left-heading">
          <h6 class="title-main seaGreen-Text font-w-600 m-10 text-uppercase">Software Development</h6>
          <span class="center-line"></span>
          <p class="greyDark-Text m-10"><strong class="text-3x Font-bold greyDark-Text">A team of experts having the industrial experience over fifteen years manages the organization. We are experts at delivering custom software solutions. </strong> <br />
            <br />
            We design, develop, and deploy software solutions based on a client's specific requirements. There is no need for a client to compromise its objectives because of a program's shortcomings or constraints - we make software work for you. We program to bridge the gaps, and we do it on time and within budget. <br />
            <br />
            With this team of over fifteen years of experience in this industry, we have specialization in building websites and developing web-based software. </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 m-50">
        <ul class="softwareDevelopment revealOnScroll"  data-animation="fadeInUp" data-timeout="300">
          <li><span class="icon"><i class="cb cb-graphic-design seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">Website Design</span></li>
          <li><span class="icon"><i class="cb cb-website-design seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">User Interface Design</span></li>
          <li><span class="icon"><i class="cb cb-adobe-illustrator-file seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">Logo Design</span></li>
          <li><span class="icon"><i class="cb cb-architecture seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">Architectural solution</span></li>
          <li><span class="icon"><i class="cb cb-programmer seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">Software Development</span></li>
          <li><span class="icon"><i class="cb cb-content seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">Analysis/Design</span></li>
          <li><span class="icon"><i class="cb cb-platform seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">Database Design &amp; Development</span></li>
          <li><span class="icon"><i class="cb cb-cloud-server seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">Cloud based solutions (SAS) in MS Azure &amp; Amazon Cloud</span></li>
          <li><span class="icon"><i class="cb cb-test-driven seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">Test Driven Development</span></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 m-50">
        <ul class="softwareDevelopment revealOnScroll"  data-animation="fadeInUp" data-timeout="300">
          <li><span class="icon"><i class="cb cb-project seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">Project Management</span></li>
          <li><span class="icon"><i class="cb cb-cms seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">Content Management (CMS)</span></li>
          <li><span class="icon"><i class="cb cb-ecommerce seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">eCommerce</span></li>
          <li><span class="icon"><i class="cb cb-development seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">Windows Application</span></li>
          <li><span class="icon"><i class="cb cb-api seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">API Integration</span></li>
          <li><span class="icon"><i class="cb cb-artificial-intelligence seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">System Integration</span></li>
          <li><span class="icon"><i class="cb cb-dashboard seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">Dashboard &amp; Report Writing</span></li>
          <li><span class="icon"><i class="cb cb-hosting seaGreen-Bg" style="width: 40px; height: 40px;"></i></span> <span class="text">Platform independent development and hosting using .Net Core.</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="divide40">&nbsp;</div>
<div class="center-heading m-40 revealOnScroll"  data-animation="fadeInUp" data-timeout="300"> <img src="images/ab-1.jpg" alt="" class="img-responsive alignCenter"></div>
<div class="container revealOnScroll"  data-animation="fadeInUp" data-timeout="300">
  <div class="custom">
    <div class="row">
      <div class="col-sm-12">
        <div class="left-heading">
          <h6 class="title-main seaGreen-Text font-w-600 m-10 text-uppercase">Technologies</h6>
          <span class="center-line"></span>
          <p class="greyDark-Text m-10"><strong class="text-3x Font-bold greyDark-Text">Grow Your Business with our user-friendly IT Solutions.</strong> <br />
          </p>
        </div>
      </div>
    </div>
    <div class="row service-list m-40">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="service-box lightSeaGreen-Bg greyLight-Shadow"> <i class="cb cb-application seaGreen-Bg" style="width: 60px; height: 60px;"></i>
          <h5 class="my-4 orange-Text text-3x">Web/Application Development</h5>
          <p>Microsoft .NET, Microsoft .Net Core, C#, REST, JSON, SOA.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="service-box seaGreen-Bg greyLight-Shadow"> <i class="cb cb-database white-Bg" style="width: 60px; height: 60px;"></i>
          <h5 class="my-4 white-Text text-3x">Database</h5>
          <p class="white-Text">Microsoft SQL Server, Oracle, MySQL, Postgres, Mongo DB (No SQL database).</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="service-box seaGreen-Bg greyLight-Shadow"> <i class="cb cb-code white-Bg" style="width: 60px; height: 60px;"></i>
          <h5 class="my-4 white-Text text-3x">Client-side Scripting</h5>
          <p class="white-Text">JavaScript, JQuery, AngularJS and Angular.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="service-box lightSeaGreen-Bg greyLight-Shadow"> <i class="cb cb-report seaGreen-Bg" style="width: 60px; height: 60px;"></i>
          <h5 class="my-4 orange-Text text-3x">Report Writing</h5>
          <p>SSRS, Crystal Report Writer.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="divide40">&nbsp;</div>
<div class="center-heading  revealOnScroll"  data-animation="fadeInUp" data-timeout="300"> <img src="images/ab-2.jpg" alt="" class="img-responsive alignCenter"></div>
<div class="container revealOnScroll"  data-animation="fadeInUp" data-timeout="300">
  <div class="custom">
    <div class="row">
      <div class="col-sm-12">
        <div class="left-heading">
          <h6 class="title-main seaGreen-Text font-w-600 m-10 text-uppercase">Domain Expertise</h6>
          <span class="center-line"></span> </div>
      </div>
      <div class="col-sm-12 col-md-4 m-30">
        <h4><strong>Digital Payments</strong></h4>
        <ul class="domainExpertise m-30">
          <li><span></span>Payment Solutions</li>
          <li><span></span>Certification Testing</li>
          <li><span></span>Gateway/Processor Integration</li>
          <li><span></span>POS integration</li>
          <li><span></span>eCommerce integration</li>
          <li><span></span>shopping cart integration</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 m-30">
        <h4><strong>ERP</strong></h4>
        <ul class="domainExpertise m-30">
          <li><span></span>Accounts</li>
          <li><span></span>Purchase/Inventory</li>
          <li><span></span>Production &amp; Planning</li>
          <li><span></span>Sales</li>
          <li><span></span>Online quotation &amp; bidding</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 m-30">
        <h4><strong>Management Systems</strong></h4>
        <ul class="domainExpertise m-30">
          <li><span></span>Hospital</li>
          <li><span></span>Restaurant</li>
          <li><span></span>University</li>
          <li><span></span>Laboratory</li>
          <li><span></span>Online Learning</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="divide40">&nbsp;</div>
<div class="container  revealOnScroll"  data-animation="fadeInUp" data-timeout="300">
  <div class="custom">
    <div class="row">
      <div class="col-sm-12">
        <div class="left-heading">
          <h6 class="title-main seaGreen-Text font-w-600 m-10 text-uppercase">Non-Functional Requirements Solution </h6>
          <span class="center-line"></span>
          <p class="greyDark-Text m-10"><strong class="text-3x Font-bold greyDark-Text">The non-function requirements [NFR] for the system include the following </strong> <br />
          </p>
        </div>
      </div>
      <div class="mod-newsflash-adv mod-newsflash-adv__history cols-1 m-40" >
        <div class="row">
          <article class="col-sm-12 item item_num0 item__module  ">
            <div class="item_content"> <i class="1983-1985"></i>
              <figcaption>NFR 1</figcaption>
              <!-- Item title -->
              <h4 class="item_title item_title__history"> <a href="#s" class="text-3x Font-bold greyDark-Text">Availability</a> </h4>
              <!-- Introtext -->
              <div class="item_introtext"> The system will ensure 99.9% availability required with the exception of predetermined maintenance windows. </div>
              <!-- Read More link -->
            </div>
            <div class="clearfix"></div>
          </article>
        </div>
        <div class="row">
          <article class="col-sm-12 item item_num1 item__module  ">
            <div class="item_content"> <i class="1986-1997"></i>
              <figcaption>NFR 2</figcaption>
              <!-- Item title -->
              <h4 class="item_title item_title__history"> <a  href="#s" class="text-3x Font-bold greyDark-Text">Capacity</a> </h4>
              <!-- Introtext -->
              <div class="item_introtext">The system will be capable of scaling up as per the capacity planning done time to time. </div>
              <!-- Read More link -->
            </div>
            <div class="clearfix"></div>
          </article>
        </div>
        <div class="row">
          <article class="col-sm-12 item item_num2 item__module  lastItem" >
            <div class="item_content"> <i class="1998-Today"></i>
              <figcaption>NFR 3</figcaption>
              <!-- Item title -->
              <h4 class="item_title item_title__history"> <a  href="#s" class="text-3x Font-bold greyDark-Text">Data Integrity</a> </h4>
              <!-- Introtext -->
              <div class="item_introtext"> The system will be capable of maintain data integrity across all interfacing systems. </div>
              <!-- Read More link -->
            </div>
            <div class="clearfix"></div>
          </article>
        </div>
        <div class="row">
          <article class="col-sm-12 item item_num1 item__module  ">
            <div class="item_content"> <i class="1986-1997"></i>
              <figcaption>NFR 4</figcaption>
              <!-- Item title -->
              <h4 class="item_title item_title__history"> <a  href="#s" class="text-3x Font-bold greyDark-Text">Performance</a> </h4>
              <!-- Introtext -->
              <div class="item_introtext">The system will be capable of complying with Response Time, Throughput, Utilization according to business need. </div>
              <!-- Read More link -->
            </div>
            <div class="clearfix"></div>
          </article>
        </div>
        <div class="row">
          <article class="col-sm-12 item item_num2 item__module  lastItem" >
            <div class="item_content"> <i class="1998-Today"></i>
              <figcaption>NFR 5</figcaption>
              <!-- Item title -->
              <h4 class="item_title item_title__history"> <a  href="#s" class="text-3x Font-bold greyDark-Text">Scalability</a> </h4>
              <!-- Introtext -->
              <div class="item_introtext"> The system will be capable to ensure easy addition of new data source(s) or modify input process from existing data sources, create or update business processes, add new data outputs or modify existing data outputs. </div>
              <!-- Read More link -->
            </div>
            <div class="clearfix"></div>
          </article>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="divide40">&nbsp;</div>
<div class="center-heading  revealOnScroll"  data-animation="fadeInUp" data-timeout="300"> <img src="images/ab-3.jpg" alt="" class="img-responsive alignCenter"></div>
<div class="container  revealOnScroll"  data-animation="fadeInUp" data-timeout="300">
  <div class="custom">
    <div class="row">
      <div class="col-sm-12">
        <div class="left-heading">
          <h6 class="title-main seaGreen-Text font-w-600 m-10 text-uppercase">Quality Assurance</h6>
          <span class="center-line"></span>
          <p class="greyDark-Text m-10"><strong class="text-3x Font-bold greyDark-Text">A team of experienced QA engineers are there to ensure that the deliverables are of high quality.</strong> <br />
            <br />
            From the very beginning we maintain checklists and guidelines as required to ensure quality of deliverables. A detail level of functional test cases including all possible negative scenarios confirms the stability and perfectness of the solution.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="divide40">&nbsp;</div>
<div class="center-heading m-40 revealOnScroll"  data-animation="fadeInUp" data-timeout="300"> <img src="images/ab-4.jpg" alt="" class="img-responsive alignCenter"></div>
<div class="container revealOnScroll"  data-animation="fadeInUp" data-timeout="300">
  <div class="custom">
    <div class="row">
      <div class="col-sm-12">
        <div class="left-heading">
          <h6 class="title-main seaGreen-Text font-w-600 m-10 text-uppercase">Team</h6>
          <span class="center-line"></span> </div>
      </div>
      <div class="col-sm-12 col-md-12 m-30">
        <h4><strong>Currently, the Zorya Systems tech team comprises</strong></h4>
        <ul class="domainExpertise m-30">
          <li><span></span>Software developers</li>
          <li><span></span>UI / UX developer</li>
          <li><span></span>Solution Architects</li>
          <li><span></span>Database administrator</li>
          <li><span></span>Certified Project managers, SCRUM</li>
          <li><span></span>Certified Delivery Manager, SCRUM</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="m-30"></div>
