
<div class="container">
  <div class="header-slider">
    <div class="layout-item-right"> <img src="images/right-body.png" class="img-responsive" width="801" height="486" alt=""> </div>
    <div class="layout-item-left">
      <div class="slider-text">
        <h1 class="greyDark-Text">Who We Are !</h1>
        <h5  class="black-Text">Zorya is a newly formedstartup company that provides full range of software development and consultancy services. We provide business technology solutions, cloud hosting, managed services, website design, and technical support to help our clients achieve their business and IT goals. </h5>
        <a href="#aboutus" class="btn seaGreen-Btn white-Text bdr seaGreenDark-bdr">KNOW MORE</a> </div>
    </div>
  </div>
</div>
<!-- /Slider -->
<div class="container m-50">
  <div class="section-header">
    <h2 class="text-center Font-bold text-9x greyDark-Text text-uppercase">
      <devfv-toolbar  param="initializeToolBar"></devfv-toolbar>
    </h2>
  </div>
  <div class="row m-50">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 m-30 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
      <div class="section-box white-Bg p-3">
        <div class="row">
          <div class="col-8 col-sm-8 col-md-8 col-lg-8">
            <h4 class="greyDark-Text text-4x font-w-400 text-uppercase">Story & History</h4>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <h1 class="seaGreen-Text Font-bold  text-14x">01</h1>
          </div>
        </div>
        <div class="section-text">
          <h6 class="font-w-100 black-Text mt-4 text-1x ">A team of experienced QA engineers are there to  ensure that the deliverables are of high quality. </h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 m-30 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
      <div class="section-box white-Bg p-3">
        <div class="row">
          <div class="col-8 col-sm-8 col-md-8 col-lg-8">
            <h4 class="greyDark-Text text-4x font-w-400 text-uppercase">Goal & Mission</h4>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <h1 class="seaGreen-Text Font-bold  text-14x">02</h1>
          </div>
        </div>
        <div class="section-text">
          <h6 class="font-w-100 black-Text mt-4 text-1x ">Zorya's delivery model is tailored to deliver quality software services to our valuable customers. </h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 m-30 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
      <div class="section-box white-Bg p-3">
        <div class="row">
          <div class="col-8 col-sm-8 col-md-8 col-lg-8">
            <h4 class="greyDark-Text text-4x font-w-400 text-uppercase">Target & Success</h4>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <h1 class="seaGreen-Text Font-bold  text-14x">03</h1>
          </div>
        </div>
        <div class="section-text">
          <h6 class="font-w-100 black-Text mt-4 text-1x ">From the very beginning we maintain checklists and guidelines as required to ensure quality of deliverables. </h6>
        </div>
      </div>
    </div>
  </div>
  <!--/Welcome To ZORYA -->
</div>
<!-- /SERVICE -->
<div class="container-fluid m-50">
  <div class="section-header">
    <h2 class="text-center Font-bold text-9x greyDark-Text text-uppercase">WE ARE Always HERE TO PROVIDE SERVICE</h2>
  </div>
  <div class="row m-50 justify-content-md-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 revealOnScroll"  data-animation="fadeInLeft" data-timeout="100">
      <div><img src="images/index-1.png" alt="" class="img-responsive"></div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-7 m-50">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 revealOnScroll"  data-animation="fadeInRight" data-timeout="100">
          <div class="p-2 m-t m-b">
            <div class="serviceImg"><i class="cb cb-jigsaw black-Bg seaGreen-Bg" style="width: 80px; height: 80px;"></i></div>
            <div class="serviceText">
              <h5 class="font-w-600 black-Text text-1x text-uppercase">DESIGNED TO BE AMAZING</h5>
              <h6 class="font-w-100 greyDark-Text text-x">We make software work for you. We program to bridge the gaps, and we do it on time and within budget. </h6>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 revealOnScroll"  data-animation="fadeInRight" data-timeout="100">
          <div class="p-2 m-t m-b">
            <div class="serviceImg"><i class="cb cb-computer black-Bg seaGreen-Bg" style="width: 80px; height: 80px;"></i></div>
            <div class="serviceText">
              <h5 class="font-w-600 black-Text text-1x text-uppercase">Industrial Services</h5>
              <h6 class="font-w-100 greyDark-Text text-x">We design, develop, and deploy software solutions based on a client's specific requirements. </h6>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 revealOnScroll"  data-animation="fadeInRight" data-timeout="100">
          <div class="p-2 m-t m-b">
            <div class="serviceImg"><i class="cb cb-handshake black-Bg seaGreen-Bg" style="width: 80px; height: 80px;"></i></div>
            <div class="serviceText">
              <h5 class="font-w-600 black-Text text-1x text-uppercase">Business Planning</h5>
              <h6 class="font-w-100 greyDark-Text text-x">There is no need for a client to compromise its objectives because of a program's shortcomings or constraints </h6>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 revealOnScroll"  data-animation="fadeInRight" data-timeout="100">
          <div class="p-2 m-t m-b">
            <div class="serviceImg"><i class="cb cb-award black-Bg seaGreen-Bg" style="width: 80px; height: 80px;"></i></div>
            <div class="serviceText">
              <h5 class="font-w-600 black-Text text-1x text-uppercase">Make company top</h5>
              <h6 class="font-w-100 greyDark-Text text-x">With this team of over fifteen years of experience in this industry, we have specialization in building websites and developing web-based software. </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /LOOKING -->
<div class="darkExBlue-bg ">
  <div class="za-message">
    <div class="container p-1">
      <div class="row za-message-margin">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <h3 class="white-Text pull-left Font-bold">LOOKING FOR Best Company FOR YOUR NEXT PROJECT?</h3>
          <a  href="#contactus" class="btn lightSeaGreen-Bg seaGreen-Text ml-4">Get a Quote</a> <a href="#contactus" class="btn seaGreen-Bg lightSeaGreen-Text ml-4">Contact No</a> </div>
      </div>
    </div>
  </div>
</div>
<!-- /worldMap -->
<div class="container m-50">
  <div class="row">
    <div class="col-md-12">
      <div class="worldMap m-90">
        <div class="row" id="counter">
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 revealOnScroll"  data-animation="fadeInRight" data-timeout="300">
            <div class="za-achivement lightSeaGreen-Bg greyLight-Shadow p-3"> <i class="cb cb-user seaGreen-Bg"  style="width: 60px; height: 60px;"></i>
              <h1 class="Font-bold orange-Text text-10x mt-5"><span class="counter-value" data-count="600">0</span>+</h1>
              <h6 class="font-w-400 black-Text">Happy Clients</h6>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 revealOnScroll"  data-animation="fadeInLeft" data-timeout="300">
            <div class="za-achivement seaGreen-Bg greyLight-Shadow p-3"> <i class="cb cb-focus white-Bg"  style="width: 60px; height: 60px;"></i>
              <h1 class="Font-bold white-Text text-10x mt-5"><span class="counter-value" data-count="358">0</span>+</h1>
              <h6 class="font-w-400 white-Text">Projects Complited</h6>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 revealOnScroll"  data-animation="fadeInRight" data-timeout="300">
            <div class="za-achivement lightSeaGreen-Bg greyLight-Shadow p-3"> <i class="cb cb-work seaGreen-Bg"  style="width: 60px; height: 60px;"></i>
              <h1 class="Font-bold orange-Text text-10x mt-5"><span class="counter-value" data-count="145">0</span>+</h1>
              <h6 class="font-w-400 black-Text">Business Partners</h6>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 revealOnScroll"  data-animation="fadeInLeft" data-timeout="300">
            <div class="za-achivement seaGreen-Bg greyLight-Shadow p-3"> <i class="cb cb-reward white-Bg"  style="width: 60px; height: 60px;"></i>
              <h1 class="Font-bold white-Text text-10x mt-5"><span class="counter-value" data-count="300">0</span>+</h1>
              <h6 class="font-w-400 white-Text">Problem Solved</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Benrfits -->
<div class="container m-50">
  <div class="section-header">
    <h2 class="text-center Font-bold text-9x greyDark-Text text-uppercase">Our Benefits </h2>
  </div>
  <div class="row m-50 justify-content-md-center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 revealOnScroll"  data-animation="fadeInRight" data-timeout="300">
      <div class="p-2 m-t m-b">
        <div class="benefitsImg"><i class="cb cb-safari black-Bg seaGreen-Bg" style="width: 80px; height: 80px;"></i></div>
        <div class="benefitsText">
          <h5 class="Font-bold black-Text text-1x text-uppercase">Sharpen Your Skills </h5>
          <h6 class="font-w-400 greyExDark-Text text-x m-20">Bring your ideas and pursue innovative career tracks, opportunities,  and job rotations. </h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 revealOnScroll"  data-animation="fadeInRight" data-timeout="300">
      <div class="p-2 m-t m-b">
        <div class="benefitsImg"><i class="cb cb-tree black-Bg seaGreen-Bg" style="width: 80px; height: 80px;"></i></div>
        <div class="benefitsText">
          <h5 class="Font-bold black-Text text-1x text-uppercase">Learn and Grow Together </h5>
          <h6 class="font-w-400 greyExDark-Text text-x m-20">Enhance your professional development through education and training. </h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 revealOnScroll"  data-animation="fadeInRight" data-timeout="300">
      <div class="p-2 m-t m-b">
        <div class="benefitsImg"><i class="cb cb-meter black-Bg seaGreen-Bg" style="width: 80px; height: 80px;"></i></div>
        <div class="benefitsText">
          <h5 class="Font-bold black-Text text-1x text-uppercase">Keep Updated</h5>
          <h6 class="font-w-400 greyExDark-Text text-x m-20">Our skills training helps you keep pace with the changing workplace. </h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 revealOnScroll"  data-animation="fadeInLeft" data-timeout="300">
      <div class="p-2 m-t m-b">
        <div class="benefitsImg"><i class="cb cb-heart black-Bg seaGreen-Bg" style="width: 80px; height: 80px;"></i></div>
        <div class="benefitsText">
          <h5 class="Font-bold black-Text text-1x text-uppercase">Give Back To Others</h5>
          <h6 class="font-w-400 greyExDark-Text text-x m-20">Bring your ideas and pursue innovative career tracks, opportunities,  and job rotations. </h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 revealOnScroll"  data-animation="fadeInLeft" data-timeout="300">
      <div class="p-2 m-t m-b">
        <div class="benefitsImg"><i class="cb cb-heart-1 black-Bg seaGreen-Bg" style="width: 80px; height: 80px;"></i></div>
        <div class="benefitsText">
          <h5 class="Font-bold black-Text text-1x text-uppercase">Healthy Living</h5>
          <h6 class="font-w-400 greyExDark-Text text-x m-20">Enhance your professional development through education and training. </h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 revealOnScroll"  data-animation="fadeInLeft" data-timeout="300">
      <div class="p-2 m-t m-b">
        <div class="benefitsImg"><i class="cb cb-gift black-Bg seaGreen-Bg" style="width: 80px; height: 80px;"></i></div>
        <div class="benefitsText">
          <h5 class="Font-bold black-Text text-1x text-uppercase">Investing In Yourself</h5>
          <h6 class="font-w-400 greyExDark-Text text-x m-20">Our skills training helps you keep pace with the changing workplace. </h6>
        </div>
      </div>
    </div>
  </div>
</div>
